*{
  margin:0px;
  padding:0px;
}

.jumbotron{
  background-image:url('img/background1.jpg');
  color:#fff;
  font-family:DokChampa;
  background-size:100% 100%;
  text-align:center;
  min-height:300px;
}
.jumbotron h1{
  padding:10px;
}
.btn-success{
  max-width:150px;
  margin:7%;
}
form .btn-success{
  max-width:150px;
  margin:7% auto;
}
.navbar{
  background-color:#383838;
}
.navbar a{
  color:#6dbce0;
}
.navbar li a:hover{
  background-color:#716f6f
}
.navbar a:hover{
  background-color:#636262;
}
.quickLinks{
  background-color:#a6dacf;
  min-height:250px;
  border-style:solid;
  border-color:2px;
  border-color:#076d7b;
  padding:10px;
  margin-bottom:20px;
}
.contactUs{
  background-color:rgba(225, 246, 18, 0.6);
  color:#fff;
  padding:10px;
  min-height:430px;
}
.textbox{
  color:#000;
}
#map {
   width: 100%;
   height: 400px;
   background-color: grey;
}
.container_search{
  margin: auto;
  width: 300px;
  height: auto;
}
.search {
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.search input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.search input#search::-webkit-input-placeholder {
   color: #65737e;
}

.search input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}

.search input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}

.search input#search:-ms-input-placeholder {
   color: #65737e;
}
.search .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}
.search input#search:hover, .search input#search:focus, .search input#search:active{
    outline:none;
    background: #ffffff;
  }
