<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>Contact Us</title>

      <link href="/static/css/bootstrap.min.css" rel="stylesheet"> <!-- bootstrap stylesheet -->
      <link href="/static/css/stylesheet.css" type="text/css" rel="stylesheet"> <!-- my css, this will take presidence -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

      <style>
        .jumbotron{
          background-image: url('static/img/background1.jpg');
        }
      </style>
  </head>
  <body>
    <span id="nav">

    </span>
    <div class="container">
      <article class="row">
        <div id="map" style="width:100%; height:400px;margin:auto;"></div>
    </article>
  </div>

    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Contact Us!</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div class="contactUs" id="leftdiv">
              <h2>Details</h2>
              <h3>Phone number</h3>
              <p>01633 546364</p>
              <h3>Email</h3>
              <p>example@gmail.com</p>
              <h3>Address</h3>
              <p>26 Skinner St, Newport NP20</p>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="contactUs" id="rightdiv">
              <section class="form" id="contactForm">
                <h2>Send me an E-mail</h2>
                <form name="myForm" class="myForm" style="overflow:hidden;" method="post" action="/Contact_us/AddComment"><br>
                  <label for="fname">First Name</label><br>
                    <input type="text" id="fname" name="fname" class="textbox"><br>
                  <label for="lname">Last Name</label><br>
                    <input type="text" id="lname" name="lname" class="textbox"><br>
                  <label for="E-mail">E-mail</label><br>
                    <input type="text" id="E-mail" name="E-mail" class="textbox"><br>
                  <label for="comment">Comment</label><br>
                    <textarea rows="5" cols="50" id="comment" name="comment" class="textbox"></textarea><br>

                  <!-- <input type="submit" value="Submit"> -->
                  <input type="submit" class="btn btn-success" value="Submit">
                  <input type="reset" class="btn btn-info" value="Reset" style="margin:7%;">
                  {{msg}}
                  </form>
          </section>
          </div>
          </div>
        </div>
     </div>
    </div>


    <!-- <script src="validation.js"></script> -->
    <script>
    $(document).ready(function(){
      $("#nav").load("navigation.html");
    });
    // $(document).ready(function(){
    //   $("#logo").load("logo.html");
    // });

    // var right = document.getElementById('rightdiv').style.height;
    // var left = document.getElementById('leftdiv').style.height;
    // if(left>right)
    // {
    //     document.getElementById('rightdiv').style.height=left;
    //     alert("Test");
    // }
    // if(right>left)
    // {
    //     document.getElementById('leftdiv').style.height=right;
    //     alert("Test2");
    // }
</script>
<script>

  document.getElementById('contactForm').onsubmit = function() {
    var fname = document.forms["contactForm"]["fname"].value;
    var surname = document.forms["contactForm"]["lname"].value;
    var email = document.forms["contactForm"]["E-mail"].value;
    var comment = document.forms["contactForm"]["comment"].value;

    console.log("Prepping submission")
    params = 'fname='+fname+'&lname='+surname+'&E-mail='+email+'&comment='+comment;
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", '/Contact_us/AddComment', true); // true is asynchronous
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.onload = function() {
      if (xhttp.readyState === 4 && xhttp.status === 200) {
        console.log(xhttp.responseText);
        document.getElementById("txt").innerHTML = xhttp.responseText;
      } else {
        console.error(xhttp.statusText);
      }
    };
    xhttp.send(params);
    return false;
  }

</script>
<script>
    function validateForm() {
        var x = document.forms["myForm"]["fname"].value; //sets the variable x to the value of the input box first name
        if (x == null || x == "") { //if nothing is entered
            alert("First Name must be filled out"); //an alert pops up
            return false; //cancels the form submission
          }
        if (x.length>10) {
          alert("Name is too long");
          return false
        }
        var y = document.forms["myForm"]["lname"].value;
        if (y == null || y == "") {
            alert("Last Name must be filled out");
            return false;
          }
        if (y.length>10) {
            alert("Last Name is too long");
            return false
          }
        var z = document.forms["myForm"]["comment"].value;
        if (z == null || z == "") {
            alert("Please enter a comment");
            return false;
          }
        if (x.length>300) {
            alert("Comment is too long please enter less than 300 characters");
            return false
          }

    }
    </script>
    <script>
    function myMap() { //creates a function called myMap
      var myCenter = new google.maps.LatLng(51.5881406,-2.9959415); //sets the center of the map to the lat and lng for NewportNow
      var mapCanvas = document.getElementById("map"); //creates a variable called mapCanvas which is the div with the id map
      var mapOptions = {center: myCenter, zoom: 14}; //sets te zoom to 14
      var map = new google.maps.Map(mapCanvas, mapOptions);
      var marker = new google.maps.Marker({position:myCenter}); //sets a marker at the center
      marker.setMap(map);

      var infowindow = new google.maps.InfoWindow({
        content: "Newport Now" //sets the content of the marker to say Newport Now
      });
      infowindow.open(map,marker);
    }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>

  </body>
</html>
