<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>Home</title>

      <link href="static/css/bootstrap.min.css" rel="stylesheet"> <!-- bootstrap stylesheet -->
      <link href="static/maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
      <link href="static/css/stylesheet.css" type="text/css" rel="stylesheet"> <!-- my css, this will take presidence -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

      <style>
        .jumbotron{
          background-image: url('static/img/background1.jpg');
        }
      </style>
  </head>
  <body>

    <span id="nav"></span>
    
    <div class="container-fluid">
    <div class="jumbotron">
      <h1>Search Now!</h1>

          <!-- <form action = "/Search" method="get" id = "myForm">
            <span class="icon"><i class="fa fa-search"></i></span>
            <input type="text" id="search" name = "userin" placeholder="Search..." />
          </form> -->

          <form action = "/Search" method="get">
            <span class="icon"><i class="fa fa-search"></i></span>
            <input type="text" id="search" name = "userin" placeholder="Search..." />
            <button type = "submit" class="btn-success">Go</button>
          </form>

        </div>
     </div>
    </div>
  </div>

      <div class="container">
        <article class="row">
        <section class="col-sm-4">
          <section class="quickLinks">
            <h1>Quick Links</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus laoreet sem quam, at sagittis </p>
          </section>
        </section>
          <section class="col-sm-4">
          <section class="quickLinks">
            <h1>Profile</h1>
            <p>tellus vulputate sed. Duis sed tristique sem, vel pulvinar nisi. Nunc a lacinia nisl. Suspendisse sagittis lacinia sapien. </p>
          </section>
        </section>
        <section class="col-sm-4">
        <section class="quickLinks">
          <h1>Profile</h1>
          <p>sapien. Proin id luctus risus, et lacinia augue. Praesent aliquet lectus vel est finibus mollis et vulputate metus. Morbi tortor leo.</p>
        </section>
      </section>

      </article>
    </div>


    <script>
    $(document).ready(function(){
      $("#nav").load("navigation.html");
  });
//   $(document).ready(function(){
//     $('#TextBoxId').keypress(function(e){         //This will be used later to make search button search on pressing enter
//       if(e.keyCode==13)
//       $('#linkadd').click();
//     });
// });
  </script>


  </body>
<html>
