<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>News</title>

      <link href="static/css/bootstrap.min.css" rel="stylesheet"> <!-- bootstrap stylesheet -->
      <link href="static/maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
      <link href="static/css/stylesheet.css" type="text/css" rel="stylesheet"> <!-- my css, this will take presidence -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

      <style>
        .jumbotron{
          background-image: url('static/img/background1.jpg');
          padding:30px;
        }
        td{
          padding:10px;
        }
        thead td{
          padding:20px;
          color:#fff;
          font-weight:bold;
          font-size:20px;
        }
        .events1 h1{
          color:blue;
          padding:10px;
          font-size:25pt;
        }
      </style>
      <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="static/js/slider.js"></script>
      <style>
        thead{
          background-image:url("static/img/line3.png");
        }
      </style>
  </head>
  <body>
{%block mainBlock%}
    <span id="nav"></span>

    <div class="container">
      <div class="jumbotron">
      <article class="row">
      <article class="slider">
        <ul>
          <li>
            <img src="static/img/img1.jpg" />
          </li>
          <li>
            <img src="static/img/img2.jpg" />
          </li>
          <li>
            <img src="static/img/img3.jpg" />
          </li>
        </ul>

        <button class="prev">prev</button>
        <button class="next">next</button>

        </div>
      </article>
      </article>
    </div>
    </div>
        <hr>
      <div class="container">
        <article class="row" style="padding:30px;background-color:#e4e4e4;">
        <section class="col-sm-6">
          <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div>
        </section>
          <section class="col-sm-6">
            <a class="twitter-timeline" data-height="500" href="https://twitter.com/newportnow">Tweets by newportnow</a>
          </section>
      </article>
    </div>

      <hr>
<article class="events1">
      <h1>Upcoming Events</h1>


      <section class="col-sm-4">
      <section class="quickLinks">
        <h1>Walks: Newport Outdoor Group</h1>
        <p>Newport Outdoor Group (NOGs for short) is an outdoor activities group which has been providing easy walking and other outdoor related events since 1960.
The group has a series of walks taking place in December 2016</p>
      </section>
      </section>

      <section class="col-sm-4">
      <section class="quickLinks">
        <h1>Down Your Local</h1>
        <p>Join the last 'Newport Museum's Down Your Local' session at The Murenger pub on Tuesday, 6 December at 3pm.
        Newport Museum's 'Down Your Local' sessions are informal discussions about local history and archaeology. There is nothing to join, nothing to commit to and nothing to pay. Why not drop in and see what it's all about? </p>
      </section>
    </section>

    <section class="col-sm-4">
    <section class="quickLinks">
      <h1>Christmas at Lysaght</h1>
      <p>Enjoy unlimited mulled wine until seated for dinner between 7pm and 8pm. Dinner is served at 8pm and guests can enjoy half a bottle of wine per person during the meal. After dinner, our resident DJ will entertain you until midnight. </p>
    </section>
  </section>
</article>
      <hr>

    <article class="container">
      <div class="row">
        <div class="col-lg-12">
          <section class="table">
            <h2>Articles</h2>
            <table border = 1>
              <thead>
                 <td>ID</td>
                 <td>Date</td>
                 <td>Catagory</td>
                 <td>Article</td>
              </thead>
              <tbody>
              {% for row in data %}
                 <tr>
                   <td>{{row[0]}}</td>
                   <td>{{row[1]}}</td>
                   <td>{{row[2]}}</td>
                   <td>{{row[3]}}</td>
                 </tr>
              {% endfor %}
            </tbody>

            </table>
          </section>
        </div>
      </div>
    </article>

    <div id="fb-root"></div>

    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=164331140700470";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

    <script>
    $(document).ready(function(){
      $("#nav").load("navigation.html");
  });
//   $(document).ready(function(){
//     $('#TextBoxId').keypress(function(e){         //This will be used later to make search button search on pressing enter
//       if(e.keyCode==13)
//       $('#linkadd').click();
//     });
// });
  </script>
  {%endblock%}
  </body>
<html>
