<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>

  <style>
    .jumbotron{
      background-image: url('static/img/background1.jpg');
    }
  </style>

</head>

<body>

  <div id = "Picture">
    <img src = {{data[0][2]}} alt="Logo" width= 100px/>
  </div>
<br>
  <div id = "Name">
    {{data[{{Click}}][1]}}
  </div>

 <h2>Bio</h2>
  <div id = "Bio">
    {{data[0][3]}}
  </div>
<br>

<h2>Contact Information</h2>
<div id = "Contact">
<h3>Number:</h3>{{data[0][4]}}
<h3>Postcode:</h3>{{data[0][5]}}
<h3>City:</h3>{{data[0][6]}}
</div>

</body>
</html>
