<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>

  <style>
    .jumbotron{
      background-image: url('static/img/background1.jpg');
    }
  </style>

</head>

<body>
  <span id="nav"></span>
  <div id = "Picture">
    <img src = {{Selected[2]}} alt="Logo" width= 100px/>
  </div>

<br>
  <div id = "Name">
    {{Selected[1]}}
  </div>

 <h2>Bio</h2>
  <div id = "Bio">
    {{Selected[3]}}
  </div>
<br>

<h2>Contact Information</h2>
<div id = "Contact">
<h3>Number:</h3>{{Selected[4]}}
<h3>Postcode:</h3>{{Selected[5]}}
<h3>City:</h3>{{Selected[6]}}
</div>

</body>
</html>
