<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>

  <style>
    .jumbotron{
      background-image: url('static/img/background1.jpg');
    }
  </style>

</head>

<body>
  <span id="nav"></span>
  <div id = "Picture">
    <img src = {{data[0][2]}} alt="Logo" width= 100px/>
  </div>
<br>
  <div id = "Name">
    <h2>Company Name</h2>
    {{data[0][0]}}
  </div>

<br>

<h2>Contact Information</h2>
<div id = "Contact">
<h3>Number:</h3>{{data[0][4]}}
<h3>Street:</h3>{{data[0][7]}}
<h3>Postcode:</h3>{{data[0][8]}}
<h3>Email:</h3>{{data[0][6]}}
</div>

</body>
</html>
